*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  #f1ecea;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}

#fueraSeccion{
    height: 75%;
    width: 100%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.img-aside{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.menu-aside{
    background-color:  #b46424 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,25px;
}

.lista-aside {
    padding: 5px 1em 5px 3em;
}

#contenedor{
    height: 1000px;
    width: 900px;
    background-color:#f1ecea ;
    display: inline-block;
}

#contenido{
    height: 75%;
    width: 65%;
    padding: 1em;
    background-color: #362f2f;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.contenedor2 {
    display: flex;
    background-color: #362f2f;
}

#contenido-aside{
    height: auto;
    width: 35%;
    background-color: #b58c7c;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#encabezado{
    text-align: center;
    height: 15%;
    background-color: #3a251c;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    height: 5%;
    background-color:  #b46424  ;
}

#menu li {
    display: inline;
}

#pie{
    background-color: #3a251c;
    padding: 15px;
    font-size: 75%;
    color: #b58c7c;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    text-align:justify;
    padding: 10px;
    margin: 0%;
    
}

li a:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;

}

@media screen and (max-width:700px) {
    div, .row{
        flex-direction: column;
    }

    body{
        background-color:  rgba(0, 0, 0, 0.5);
    }

    #fueraSeccion, #pie, #contenido,#menu,#encabezado,#contenido-aside{
        width: 100%;
        margin: 1em;
        border-radius: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .encabezado-aside{
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    header{
        width: 100%;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        align-items: center;
        margin: 2px;
    }
}