* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/PaginaPersonal/WhatsApp\ Image\ 2023-09-22\ at\ 12.01.15\ AM.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#contenedor{
    height: 50px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

#contenedor-2{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

#contenedor-aside{
    height: auto;
    width: 2000px;
    background-color: rgba(0, 0, 0, 0.5);
}

#img-aside{
    width: 150px;
    height: auto;
    border-radius: 5px;
}

#encabezado{
    text-align: center;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}

#Titulos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}

#img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

#pie {
    background-color: black;
    padding: 15px;
    font-size: 75%;
    color: #b58c7c;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {
    div, .row{
        flex-direction: column;
    }

    body{
        background-color:  rgba(0, 0, 0, 0.5);
    }

    #Titulos, #pie, #contenedor,#contenedor-2,#menu,#encabezado,#contenedor-aside{
        width: 100%;
        margin: 1em;
        border-radius: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .encabezado-aside{
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    header{
        width: 100%;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        align-items: center;
        margin: 2px;
    }
}