* {
    padding: 0;
    margin: 0;
}

/* selector de etiquetas*/

body {
background-image: url(/img/mountains_sky_reflection-scenery_HD_Wallpaper_medium.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

#contenedor-Index{
    width: 900px;
    /*height: 1000px;*/
    /*background-color: #000000;*/
    max-width: 0 auto;
    border-radius: 5px;
}
#menu-index{
    height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 1em;
        border-radius: 5px;
    }
    
    #contenido-index{
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0.5em;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
    }
    
ul{
    text-align: center;
    padding: 10px;
}

li{
    text-align:justify;
    padding: 10px;
    margin: 0%;
    
}

li a:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;

}